* {
    color: white;
    font-family: "Roboto", sans-serif;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body{
    background-image: url('../Images/BackgroundImg.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.background-cover {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1
}

#WebLogo{
    width: 40%;
    margin-bottom: 5%;
}

.uspLogo {
    width: 3%;
}

.usp p{
    margin: 0.5%;
}

.mainHeading {
    font-size: 350%;
    margin: 0%;
}

.subHeading, .signupOption span {
    color: grey;
}

#leftSide{
    width: 50%;
}

#rightSide {
    width: 30%;
    background-color: rgb(0, 0, 0);
}

#mainContainer{
    z-index: 10;
    margin: auto;
    position: absolute;
    top: 0%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10% 5% 0% 5%;
}

.Submit {
    padding: 10px;
    font-weight: bold;
    background-color: grey;
    color: white;
    border: none;
    border-radius: 5px;
    width: 100%;
}

.Submit:hover {
    background-color: rgb(250, 126, 17);
}

input {
    padding: 5px;
    background-color: black;
    width: 100%;
}

.LogIn {
    padding-top: 20px;
    padding-bottom: 10px;
}

.logoName {
    color:  rgb(250, 126, 17);
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}

.logoName b {
    display: block;
    text-align: center;
    color: rgb(250, 126, 17);
}

.logoName img {
    vertical-align: middle;
}

.LogInForm h2 {
    text-align: left;
    color: rgb(250, 126, 17);
    margin-top: 0%;
}

.Email input:focus,
.Password input:focus {
    background-color: black;
    color: grey;
}

#loginForm {
    margin: 5% 5% 5%;
    padding: 15%;
}

.signupOption a {
    color: rgb(250, 126, 17);
    text-decoration: none;
}

.signupOption {
    text-align: center;
    padding: 5px;
}

#displayAlert{
    z-index: 10;
    padding: 15px;
    text-align: center;
    background-color: black;
}

#displayAlert strong{
    color: rgb(250, 126, 17);
}

@media screen and (max-width : 665px) {

    #mainContainer{
        flex-direction: column;
        justify-content:center;
        align-items:start;
        padding: 1% 5% 0% 5%;
    }

    #WebLogo{
        width: 40%;
        margin-bottom: 3%;
    }

    .mainHeading {
        font-size: 225%;
        margin: 0%;
    }

    #leftSide{
        width: 100%;
        margin-bottom: 5%;
    }

    #rightSide {
        width: 100%;
    }

    #loginForm {
        margin: 0% 5% 0%;
        padding: 5%;
    }

    .subHeading {
        margin: 1%;
    }
}